.atfImage {
    width: 100vw;
    height: 500px;
    object-fit: cover;
}

.burgerLogo {
    border-radius: 100%;
    border: 12px solid #FDEADC;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 350px;
}

/*Dish Container*/
.dishContainer {
    color: #363534;
    background-color: #FDEADC;
    padding: 12px;
    border-radius: 12px;
    height: 150px;
    width: 650px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 16px;

}

.dish-img {
    height: 150px;
    width: 250px;
    object-fit: cover;
    border-radius: 12px;
}

.dishInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dishTitleAndPrice {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    font-size: 24x;
}

.addToBasketButton {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}