.content_wrapper {
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-grow: 1;
}

.content {
    width: calc(100% - 300px);
}

.basket_wrapper {
    width: 300px;
    padding: 16px;
    flex-grow: 1;
    display: flex;
}

.basket_content {
    background-color: #363534;
    font-weight: bold;
    position: sticky;
    flex-grow: 1;
    width: 100%;
    max-height: fit-content;
    top: 0;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
}

.basket_dish_container {
    color: #363534;
    display: flex;
    flex-direction: column;
    background-color: #FDEADC;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
}

.basket_dish_title {
    text-align: left;
}

.basket_nav_bar {
    display: flex;
    justify-content: space-between;
}

.basket_interaction {
    display: flex;
    gap: 4px;
}