@font-face {
   font-family: 'raleway';
   src: url('/assets/fonts/PalanquinDark-Regular.ttf') format('truetype');
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   color: #FFFFFF;
   margin: 0;
   font-family: "PalanquinDark", sans-serif;
}

main {
   flex: 1;
}

h2 {
   color: #363534;
   font-size: 36px;
}

h3 {
   margin: 0;
}

p {
   margin: 12px;
}

.contentLimit {
   max-width: 1440px;
   margin: 0 auto;
}


/*header*/
header {
   background-color: #E76C1F;
   padding: 12px;
}

.mainHeader {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/*Home*/
.mainStart {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.mainHeading {
   display: flex;
   flex-direction: row;
   gap: 24px;
}

.MenuHeading {
   position: relative;
   background-color: #E76C1F;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 16px;
   margin-bottom: 36px;
   padding: 12px 0 12px 64px;

}

.dishIcon {
   height: 64px;
   width: 64px;
   position: absolute;
   left: 12px;
   bottom: 0;
}